body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #00e;
}

/* Chrome, Safari, Edge, Opera */ /* these do nothing (╯°□°）╯︵ ┻━┻ */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}